<h1> Add A Transaction </h1>

<%= form_tag("/transactions", method: "post", remote: true, id: "add-transaction") do %>
	<%= label_tag(:title, "Title:") %>
	<%= text_field_tag(:title) %>
	<br>
	<%= label_tag(:description, "Description:") %>
	<br>
  <%= text_area_tag(:description, content = nil, size: "50x10") %>
  <br>
  <%= label_tag(:number, "Amount:") %>
  <%= number_field_tag(:number, value = nil, options = {min: 0, step: 0.01}) %>
  <br>
  <%= label_tag(:frequency, "Frequency:") %> 
  <%= select_tag(:frequency, options_for_select([['Select Option', :no_selection], ["Daily", :daily], ["Weekly", :weekly], ["Monthly", :monthly], ["Quarterly", :quarterly], ["Annually", :annually]])) %>
  <br>
  <%= label_tag("Date:") %>
	<%= select_date() %>
	<br>
  <%= submit_tag("Add Transaction!") %>
<% end %>